<% was_validated = item.errors.any? %>

<%= form_with(model: item, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for item_title start -->
  <div class="form-group">
    <% item_title_class = "form-control" %>
    <% item_title_was_invalid = item.errors.include?(:item_title) %>

    <% if was_validated %>
      <% if item_title_was_invalid %>
        <% item_title_class << " is-invalid" %>
      <% else %>
        <% item_title_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_title %>
    <!-- Input for item_title start -->
    <%= f.text_field :item_title, class: item_title_class, placeholder: "Enter item title" %>
    <!-- Input for item_title end -->
    <% if item_title_was_invalid %>
      <% item.errors.full_messages_for(:item_title).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for item_title end -->
  <!-- Label and input for item_picture start -->
  <div class="form-group">
    <% item_picture_class = "form-control" %>
    <% item_picture_was_invalid = item.errors.include?(:item_picture) %>

    <% if was_validated %>
      <% if item_picture_was_invalid %>
        <% item_picture_class << " is-invalid" %>
      <% else %>
        <% item_picture_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_picture %>
    <!-- Input for item_picture start -->
    <%= f.file_field :item_picture, class: "form-control" %>
    <!-- Input for item_picture end -->
    <% if item_picture_was_invalid %>
      <% item.errors.full_messages_for(:item_picture).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for item_picture end -->
  <!-- Label and input for item_price start -->
  <div class="form-group">
    <% item_price_class = "form-control" %>
    <% item_price_was_invalid = item.errors.include?(:item_price) %>

    <% if was_validated %>
      <% if item_price_was_invalid %>
        <% item_price_class << " is-invalid" %>
      <% else %>
        <% item_price_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_price %>
    <!-- Input for item_price start -->
    <%= f.text_field :item_price, class: item_price_class, placeholder: "Enter item price" %>
    <!-- Input for item_price end -->
    <% if item_price_was_invalid %>
      <% item.errors.full_messages_for(:item_price).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for item_price end -->
  <!-- Label and input for category_id start -->
  <div class="form-group">
    <% category_class = "form-control" %>
    <% category_was_invalid = item.errors.include?(:category) %>

    <% if was_validated %>
      <% if category_was_invalid %>
        <% category_class << " is-invalid" %>
      <% else %>
        <% category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :category_id %>
    <!-- Input for category_id start -->
    <%= f.number_field :category_id, class: category_class, placeholder: "Enter category" %>
    <!-- Input for category_id end -->
    <% if category_was_invalid %>
      <% item.errors.full_messages_for(:category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for category_id end -->
  <!-- Label and input for item_description start -->
  <div class="form-group">
    <% item_description_class = "form-control" %>
    <% item_description_was_invalid = item.errors.include?(:item_description) %>

    <% if was_validated %>
      <% if item_description_was_invalid %>
        <% item_description_class << " is-invalid" %>
      <% else %>
        <% item_description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_description %>
    <!-- Input for item_description start -->
    <%= f.text_field :item_description, class: item_description_class, placeholder: "Enter item description" %>
    <!-- Input for item_description end -->
    <% if item_description_was_invalid %>
      <% item.errors.full_messages_for(:item_description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for item_description end -->
  <!-- Label and input for seller_id start -->
  <div class="form-group">
    <% seller_class = "form-control" %>
    <% seller_was_invalid = item.errors.include?(:seller) %>

    <% if was_validated %>
      <% if seller_was_invalid %>
        <% seller_class << " is-invalid" %>
      <% else %>
        <% seller_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :seller_id %>
    <!-- Input for seller_id start -->
    <%= f.number_field :seller_id, class: seller_class, placeholder: "Enter seller" %>
    <!-- Input for seller_id end -->
    <% if seller_was_invalid %>
      <% item.errors.full_messages_for(:seller).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for seller_id end -->
  <!-- Label and input for comment_id start -->
  <div class="form-group">
    <% comment_class = "form-control" %>
    <% comment_was_invalid = item.errors.include?(:comment) %>

    <% if was_validated %>
      <% if comment_was_invalid %>
        <% comment_class << " is-invalid" %>
      <% else %>
        <% comment_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :comment_id %>
    <!-- Input for comment_id start -->
    <%= f.number_field :comment_id, class: comment_class, placeholder: "Enter comment" %>
    <!-- Input for comment_id end -->
    <% if comment_was_invalid %>
      <% item.errors.full_messages_for(:comment).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for comment_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
