<% was_validated = item.errors.any? %>

<%= form_with(model: item, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% item_title_class = "form-control" %>
    <% item_title_was_invalid = item.errors.include?(:item_title) %>

    <% if was_validated %>
      <% if item_title_was_invalid %>
        <% item_title_class << " is-invalid" %>
      <% else %>
        <% item_title_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_title %>
    <%= f.text_field :item_title, class: item_title_class, placeholder: "Enter item title" %>
    <% if item_title_was_invalid %>
      <% item.errors.full_messages_for(:item_title).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% item_picture_class = "form-control" %>
    <% item_picture_was_invalid = item.errors.include?(:item_picture) %>

    <% if was_validated %>
      <% if item_picture_was_invalid %>
        <% item_picture_class << " is-invalid" %>
      <% else %>
        <% item_picture_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_picture %>
    <%= f.file_field :item_picture, class: "form-control" %>
    <% if item_picture_was_invalid %>
      <% item.errors.full_messages_for(:item_picture).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% item_price_class = "form-control" %>
    <% item_price_was_invalid = item.errors.include?(:item_price) %>

    <% if was_validated %>
      <% if item_price_was_invalid %>
        <% item_price_class << " is-invalid" %>
      <% else %>
        <% item_price_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_price %>
    <%= f.text_field :item_price, class: item_price_class, placeholder: "Enter item price" %>
    <% if item_price_was_invalid %>
      <% item.errors.full_messages_for(:item_price).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% category_class = "form-control" %>
    <% category_was_invalid = item.errors.include?(:category) %>

    <% if was_validated %>
      <% if category_was_invalid %>
        <% category_class << " is-invalid" %>
      <% else %>
        <% category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :to_s, {}, class: "form-control" %>
    <% if category_was_invalid %>
      <% item.errors.full_messages_for(:category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% item_description_class = "form-control" %>
    <% item_description_was_invalid = item.errors.include?(:item_description) %>

    <% if was_validated %>
      <% if item_description_was_invalid %>
        <% item_description_class << " is-invalid" %>
      <% else %>
        <% item_description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :item_description %>
    <%= f.text_field :item_description, class: item_description_class, placeholder: "Enter item description" %>
    <% if item_description_was_invalid %>
      <% item.errors.full_messages_for(:item_description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.hidden_field :seller_id, value: current_user.id %>
  <div class="form-group">
    <% comment_class = "form-control" %>
    <% comment_was_invalid = item.errors.include?(:comment) %>

    <% if was_validated %>
      <% if comment_was_invalid %>
        <% comment_class << " is-invalid" %>
      <% else %>
        <% comment_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :comment_id %>
    <%= f.collection_select :comment_id, Comment.all, :id, :to_s, {}, class: "form-control" %>
    <% if comment_was_invalid %>
      <% item.errors.full_messages_for(:comment).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
