<%= form_with(model: @item, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :item_title %>

    <%= f.text_field :item_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :item_picture %>

    <%= f.file_field :item_picture, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :item_price %>

    <%= f.text_field :item_price, class: "form-control" %>
  </div>

  <%= f.hidden_field :category_id, value: @category.id %>

  <div class="form-group">
    <%= f.label :item_description %>

    <%= f.text_field :item_description, class: "form-control" %>
  </div>

  <%= f.hidden_field :seller_id, value: current_user.id %>

  <div class="form-group">
    <%= f.label :comment_id %>

    <%= f.collection_select :comment_id, Comment.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.submit "Create item", class: "btn btn-block btn-outline-secondary" %>
<% end %>
